#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

#image {
    /* overflow: hidden; */
}
/* 
.carousel {
    max-height: 400px;
    overflow: hidden;
} */

.carousel-inner { 
    max-height: 400px;
    overflow: hidden;
}